<template>
  <div>

    {{ massage }}
    <br>
    {{ eventArray }}
    <br>

    <p>{{firstName}} {{lastName}}</p>
    <br>
    {{fullName}}

  </div>
</template>

<script>
export default {
  name: 'App',
  components: {},
  data: function () {
    return {
      massage: 'HelloWorld',
      array: [1, 2, 3, 4],
      firstName: 'Taras',
      lastName: "Shevchenko",

    }
  },
  computed: {
    eventArray() {
      return this.array.filter(value => value % 2 === 0)
    },
    fullName() {
      return `${this.firstName} ${this.lastName}`
    }
  },
  props: {}
}
</script>





<style></style>
